* {
	box-sizing: border-box;
}

html, body {
	width:100%;
	height:100%;
}

body {
	font-family: "Futura", sans-serif;;
}


.main-section-wrap{
	background-color: black;
	float:left;
	width:100%;
	height:100%;
}

.main-section-wrap{
	background-color: red;
	float:left;
	width:50%;
	height:50%;
}

.strike-adidas-wrap{
	background-color: blue;
	float:left;
	width:50%;
	height:50%;
}

.strike{
	background-color:green;
	float:left;
	width:50%;
	height:25%;
}

.adidas{
	width:50%;
	height:25%;
}

.second-section-wrap{
	background-color: blue;
	width:100%;
	height:50%;

}

.shoe-helmet-wrap{
	background-color: blue;
	width:100%;
	height:100%;

}
.shoe{
	background-color:orange;
	float:left;
	width:100%;
	height:25%;
}

.helmet{
	background-color:purple;
	float:left;
	width:100%;
	height:25%;
}