* {
	box-sizing: border-box;
}

html, body {
	width:100%;
	height:100%;
}

body {
	font-family: "Futura", sans-serif;
}

.main-section-wrap{
	display: flex;
	justify-content: space-evenly;
}

.strike-adidas-wrap{
	display: flex;
	justify-content: space-evenly;
	height: 50%;
}

.red, .adidas{

}

.second-section-wrap{
	display: flex;
	justify-content: space-evenly;
}