header{
	height: 50px;
	display: flex;
	justify-content: space-between;
	
	background-color: $that_red;
	
	@media screen and (min-width: 720px) {
		background-color:black;
	}
	
	h1{
		display: none;
	}

	div.header-content{
		img.logo {
			width:150px;
			height:30px;
			margin: 10px 80px;
		}
		
		img.bag {
			width:20px;
			height:20px;
			float:left;
			margin: 20px;
		}
		
		img.flag {
			width: 25px;
			height: 15px;
			float:left;
			margin: 25px 5px;
		}
	}

	div.hamburger-menu{
		position:relative;
		display: inline-block;
		width: 70px;

		img {
			position: absolute;
			width:20px;
			height:40px;
			transform: rotate(-90deg);
		}

		img:nth-child(1) {

			left:8px;
			top: 0;
		}
		img:nth-child(2) {
			left: 4px;
			top: 10px;
		}
		img:nth-child(3) {
			left: 0px;
			top: 20px;
		}
	}
}