header{
	height: 50px;
	display: flex;
	justify-content: space-between;
	
	background-color: $that_red;
	
	@media screen and (min-width: 720px) {
		background-color:black;
	}
	
	div.header-content{
		h1{
			color:white;
			display: inline-block;
			margin-bottom: 5px;
		}
	
		img.logo {
			// width:120px;
			height:40px;
		}
		
		img.bag {
			width:10px;
			height:10px;
		}
		
		img.flag {
			width:10px;
			height:10px;
		}
	}

	div.hamburger-menu{
		position:relative;
		display: inline-block;
		width: 64px;

		img {
			position: absolute;
			width:20px;
			height:40px;
			transform: rotate(-90deg);
			
		}

		img:nth-child(1) {
			left: 0;
			top: 0;
		}
		img:nth-child(2) {
			left: 0;
			top: 10px;
		}
		img:nth-child(3) {
			left: 0;
			top: 20px;
		}
	}
}